@import 'layout/root';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus{
    outline: none;
  }
}

body{
  background: #132C33;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section:not(intro),
section:not(start){
  margin-top: 100px;

  @include media($md){
    margin-top: 80px;
  }
}

.title{
  font-size: 36px;
}

.half-container{
  max-width: 660px;
  padding: 0 15px;
  
  @include media($xl){
    max-width: 570px;
  }
  @include media($lg){
    max-width: 480px;
  }
  @include media($md){
    max-width: 360px;
  }
  @include media($sm){
    max-width: 270px;
  }
}

// =====================================================
// ======================header=========================
// =====================================================

.logo{
  z-index: 1;

  &__img{
    z-index: 1;
  }
}

.header{
  padding: 25px 0;

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }

  &__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include media($xl) {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      right: 0;
      background: #fff;
      padding-top: 50px;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s transform;
      justify-content: start;
      z-index: 50;

      &.open {
        transform: translateX(0);
      }
    }
  }

  &__button {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    display: none;
    z-index: 9999;

    @include media($xl) {
      display: block;
    }

    &.open {

      .header__button-line,
      &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
        background: #000;
      }

      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-135deg);
        background: #000;
      }
    }

    &::before,
    &::after,
    &-line {
      transition: 0.5s;
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
    }

    &::before {
      top: 20%;
    }

    &::after {
      bottom: 20%;
    }

    &-line {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    @include media($xl){
      flex-direction: column;
    }
  }

  &__link{
    margin: 0 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
    position: relative;

    @include media($xl){
      color: #232323;
    }

    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: #fff;
      width: 100%;
      height: 3px;
      border-radius: 8px;
      transform: scale(0);
      transition: 300ms ease-in-out;
      transform-origin: center;
    }

    &:hover::before{
      transform: scale(1);
      transition: 300ms ease-in-out;
    }
  }

  &__btn{
    background: #00E2FF;
    padding: 10px 60px;
    border-radius: 7px;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.025em;
    color: #232323;
    margin: 0 22px; 
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-in-out;
    position: relative;
    border: none;
    
    &:hover{
      box-shadow: 0 0 70px -10px #00E2FF;
    }

    @include media($xl){
      margin: 15px 0;
    }
  }

  &__lang{
    background: #00E2FF;
    height: 53px;
    width: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: 22px;
    transition: 300ms ease-in-out;
    position: relative;

    @include media($xl){
      margin-left: 0;
      margin-top: 5px;
    }

    &:hover{
      box-shadow: 0 0 70px -10px #00E2FF;
    }
  }
}

// =====================================================
// =======================intro=========================
// =====================================================

.intro{
  margin-top: -120px;
  position: relative;
  height: 100vh;
  overflow: hidden;

  &__col{

    &:first-child{

      @include media($sm){
        position: absolute;
      }
    }
    &:last-child{

      @include media($sm){
        margin-top: 0px;
      }
    }
  }

  &__bg{
    position: absolute;
    z-index: -9999;  
    max-width: 100%;
    max-height: 100%;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    object-fit: cover;
    overflow-y: hidden;
  }

  &__el{
    position: absolute;
    z-index: -8888;
    max-height: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-position: right;
  }

  &__img{
    margin-top: 120px;
    position: absolute;
    max-height: calc(100% - 120px);
    height: 100%;
    object-position: right;

    @include media($sm){
      display: none;
    }
  }

  &__title{
    text-align: right;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;

    @include media(1200){
      font-size: 30px;
    }

    @include media($sm){
      font-size: 30px;
      text-align: center;
    }
  }

  &__btn{
    border-radius: 20px;
    padding: 20px 100px;
    background: linear-gradient(95.85deg, #00E2FF 11.33%, #126E83 107.64%);
    margin-top: 50px;
    letter-spacing: 0.025em;
    position: relative;
    transition: 300ms ease-in-out;

    &:hover{
      box-shadow: 0 0 70px -10px #00E2FF;
    }

    @include media(1200){
      padding: 10px 50px;
      margin-top: 25px;
    }

    @include media($sm){
      padding: 20px 100px;
      margin: 30px auto 0;
    }
  }

  &__row{
    display: flex;
    align-items: start;
    justify-content: start;
    position: relative;
    max-height: 100%;
    height: 100%;
  }

  &__col{
    position: relative;
    max-height: 100%;
    height: 100%;

    &:first-of-type{
      display: flex;
      align-items: start;
      justify-content: center;
      max-width: 50%;
      width: 100%;
    }

    &:last-of-type{
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
    }
  }
}


// =====================================================
// =======================.about========================
// =====================================================


.about{

  &__row{
    position: relative;
    max-width: 100%;
    overflow-x: hidden;

    .container{
      display: flex;
      align-items: center;
      height: 100vh;

      @include media($lg){
        height: max-content;
      }
    }
  }

  &__col{
    max-width: 50%;
    width: 100%;

    &:first-child{

      @include media($md){
        max-width: 93%;
      }
    }
    &:last-child{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      @include media($md){
        position: absolute;
        left: 90%;
      }

      @include media(410){
        left: 93%;
      }
      @include media(378){
        left: 120%;
      }
    }
  }

  &__img{
    position: absolute;
    top: 0;
    max-height: 100%;
    float: left;
    z-index: -1;
  }

  &__p{
    margin-top: 50px;
    font-weight: 300;
    font-size: 22px;
    line-height: 203.7%;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
  }

}


// =====================================================
// ======================benefit========================
// =====================================================

.benefit{

  &__row{
    position: relative;
    max-width: 100%;
    overflow-x: hidden;

    .container{
      display: flex;
      align-items: center;
      height: 100vh;

      @include media($lg){
        height: max-content;
      }
    }
  }

  &__col{
    max-width: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:last-child{

      @include media($md){
        max-width: 93%;
      }
    }
    &:first-child{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      @include media($md){
        display: none;
      }
    }
  }

  &__img{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
  }

  &__title{
    text-align: right;
  }

  &__p{
    margin-top: 50px;
    font-weight: 300;
    font-size: 22px;
    line-height: 203.7%;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    text-align: right;

    span{
      color: #00E2FF;
    }
  }

  &__btn{
    text-align: right;
    margin-top: 30px;
    transition: 300ms ease-in-out;
    background: linear-gradient(95.85deg, #00E2FF 11.33%, #126E83 107.64%);
    padding: 20px 100px;
    max-width: max-content;
    margin: 30px 0 100px auto;
    border-radius: 20px;

    &:hover{
      box-shadow: 0 0 70px -10px #00E2FF;
    }

    @include media($md){
      margin: 30px 0 80px auto;
    }
    @include media($sm){
      padding: 10px 50px;
    }
  }

}

// =====================================================
// =======================start=========================
// =====================================================

.start{

  &__row{
    position: relative;
    max-width: 100%;
    overflow-x: hidden;

    .container{
      display: flex;
      align-items: center;
      height: 100vh;

      @include media($lg){
        height: max-content;
      }
    }
  }

  &__col{
    max-width: 50%;
    width: 100%;

    &:first-child{

      @include media($md){
        max-width: 93%;
      }
    }
    &:last-child{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      @include media($md){
        position: absolute;
        left: 90%;
      }
      @include media(470){
        position: absolute;
        left: 100%;
      }
      @include media(470){
        position: absolute;
        left: 120%;
      }
    }
  }

  &__img{
    position: absolute;
    top: 0;
    max-height: 100%;
    z-index: -1;
  }

  &__p{
    margin-top: 50px;
    font-weight: 300;
    font-size: 22px;
    line-height: 203.7%;
    letter-spacing: 0.025em;
    color: #FFFFFF;

    span{
      color: #00E2FF;
    }
  }

  &__btn{
    text-align: right;
    transition: 300ms ease-in-out;
    background: linear-gradient(95.85deg, #00E2FF 11.33%, #126E83 107.64%);
    padding: 20px 100px;
    max-width: max-content;
    margin: 30px 0 100px;
    border-radius: 20px;
    display: block;

    &:hover{
      box-shadow: 0 0 70px -10px #00E2FF;
    }

    @include media($md){
      margin: 30px 0 80px;
    }
    @include media($sm){
      padding: 10px 50px;
    }
  }

}

// =====================================================
// ====================statistics=======================
// =====================================================

.statistics{
  position: relative;

  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media(1200){
      align-items: center;
    }
  }

  &__row{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    max-width: 90%;
    width: 100%;

    @include media(1200){
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
    }
  }

  &__col{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(1200){
      width: 50%;
      margin-left: 0;
    }
    @include media(1200){
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__img{
    position: absolute;
    max-height: 140%;
    left: 100px;
    z-index: -2;

    @include media(1200){
      left: 50%;
      transform: translateX(-50%);
      max-height: 100%;
    }
    @include media($sm){
      max-width: 100%;
      left: -10%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title{
    text-align: center;
    font-size: 34px;
    -webkit-text-stroke: 0.3px #00E2FF;
    color: #132C33;
    margin-bottom: 10px;
  }

  &__p{
    text-align: center;
  }

}

// =====================================================
// =====================payments========================
// =====================================================

.payments{

  &__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }

  &__p{
    font-size: 26px;
    margin-top: 20px;
  }

  &__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    @include media($sm){
      width: 20%;
    }

    &:last-child{
      @include media($sm){
        width: 40%;  
      }
    }


    &__title{
      width: 100%;
      text-align: center;
      padding: 30px 0;
      border-bottom: 1px solid #00E2FF;
      font-size: 32px;
      margin-bottom: 35px;

      @include media($lg){
        font-size: 18px;
      }
      @include media($sm){
        font-size: 16px;
      }
    }

    p{
      font-size: 26px;

      @include media($lg){
        font-size: 16px;
      }
      @include media($sm){
        font-size: 14px;
      }
    }
  }

}

// =====================================================
// =====================schedule========================
// =====================================================

.schedule{

  h2{
    text-align: right;
  }

  &__img{
    max-width: 100%;
    width: 100%;
    margin-top: 100px;

    @include media($lg){
      margin-top: 50px;
    }
  }
}

// =====================================================
// =====================answers=========================
// =====================================================

.answers{


  h2{
    margin-bottom: 50px;
  }

  &__row{
    position: relative;
    max-width: 100%;
    overflow-x: hidden;

    .container{
      display: flex;
      align-items: center;
      height: 100vh;

      @include media($lg){
        height: max-content;
      }
    }
  }

  &__col{
    max-width: 50%;
    width: 100%;

    &:first-child{

      @include media($md){
        max-width: 93%;
      }
    }
    &:last-child{
      display: flex;
      justify-content: center;
      align-items: start;
      height: 100%;

      @include media($md){
        position: absolute;
        left: 90%;
      }
      @include media(470){
        position: absolute;
        left: 100%;
      }
      @include media(470){
        position: absolute;
        left: 120%;
      }
    }
  }

  &__img{
    position: absolute;
    top: 0;
    max-height: 100%;
    z-index: -1;
  }
  
  // =====================================================
  // =====================dropdown========================
  // =====================================================

  .dropdown{
    margin-bottom: 50px;

    &__btn{
      background: none;
      border: none;
      color: #fff;
      font-size: 26px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      text-align: left;

      svg{
        width: 20px;
        height: 20px;
        margin-left: 12px;
        transition: 200ms ease-in-out;
      }
    }

    &.show{
      & .dropdown__btn svg{
        transform: rotate(-90deg);
      }

      .dropdown__content{
        display: block;
        margin-top: 15px;
      }
    }

    &__content{
      display: none;

      
    }
  }
}

// =====================================================
// ======================footer=========================
// =====================================================

.footer{
  margin-top: 150px;
  background: #fff;
  color: #232323;

  &__title{
    @include media($lg){
      text-align: center;
      margin-top: 50px;
    }
  }

  &__img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: -5px;
  }

  &__row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;

    @include media($lg){
      flex-direction: column;
      align-items: center;
    }
  }

  &__col__df{
    display: flex;

    @include media($lg){
      margin-top: 50px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__list{
    list-style: none;

    @include media($lg){
      flex-direction: column;
      align-items: center;
    }
  }

  &__li{
    margin: 10px 0;

    @include media($lg){
      text-align: center;
    }
  }

  &__btn{

    @media (max-width: 1200px){
        margin: 0;
    }
  }
  &__lang{

    @media (max-width: 1200px){
        margin: 0 15px 0 ;
    }

    @include media($lg){
      order: -1;
      margin-bottom: 25px;
    }
  }
}

// =====================================================
// ======================modal==========================
// =====================================================

.black{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1500%;
  background: rgba(0, 0, 0, 0.822);
  z-index: 8888;
  display: none;

  &.active{
    display: block;
  }
}
.black-log{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1500%;
  background: rgba(0, 0, 0, 0.822);
  z-index: 8888;
  display: none;

  &.active{
    display: block;
  }
}

.closeRegister{
  background: none;
  position: absolute;
  top: 43px;
  right: 43px;
  cursor: pointer;
  border: none;
  z-index: 1;

  @include media($md){
    top: 43px;
    right: 20px;
  }

  svg{
    width: 50px;
    height: 50px;

    @include media($md){
      width: 30px;
      height: 30px;
    }
  }
}

.login{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-height: 100vh;

  &.active{
    display: block;
  }
}

.register{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 80%;
  max-height: 100vh;

  &__link{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
    text-decoration-line: underline;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;

    @include media($md){
      margin-top: 35px;
    }
  }

  &__btn{
    width: 100%;
    padding: 20px 0;
    background: #00E2FF;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 20px;
    font-family: inherit;
    cursor: pointer;
    transition: 300ms ease;


    &:hover{
      box-shadow: 0px 5px 0px #126E83, 0px 0px 35px #00E2FF;
    }

    @include media($md){
      font-size: 16px;
      padding: 8px 0;
      margin-top: 15px;
    }
  }

  &.active{
    display: block;
  }


  &__content{
    width: max-content;
    padding: 70px 100px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    backdrop-filter: blur(185px);
    border: 2px solid #FFFFFF;

    @include media($md){
      padding: 25px;
    }

    &__title{
      font-weight: normal;
      font-size: 48px;
      line-height: 58px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      margin-bottom: 50px;

      @include media($md){
        font-size: 25px;
        margin-bottom: 25px;
      }
    }

    &__form{

      &__col{
        display: flex;

        @include media($md){
          flex-direction: column;
        }
      }

      &__label{
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        
        color: #FFFFFF;

        @include media($md){
          font-size: 16px;
        }
      }

      &__input{
        border: 2px solid #00E2FF;
        box-sizing: border-box;
        border-radius: 10px;
        background: none;
        height: 50px;
        padding: 10px;
        color: #fff;
        font-family: inherit;
        max-width: 100%;

        @include media($md){
          min-width: 300px;
          width: 100%;
        }
        @include media($sm){
          min-width: 200px;
          width: 100%;
        }

        &.big{
          max-width: 100%;
          width: 100%;
          margin-right: 0;
        }

        &-div{
          margin-bottom: 30px;

          @include media($md){
            margin-bottom: 15px;
          }

          &:first-of-type{
            margin-right: 20px;

            @include media($md){
              margin-right: 0;
            }
          }

          
          &.big{
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }
  }
}


// =====================================================
// ======================sidebar========================
// =====================================================

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  max-width: 320px;
  width: 100%;
  background: #115362;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 25px;
  padding-left: 25px;

  &__img{
    max-width: 150px;
    width: 100%;
  }

  &__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__avatar{
    position: relative;
    max-width: 40px;
    width: 100%;
  }

  &__title{
    margin-left: 10px;
  }

  &__p{

    @include media($sm){
      font-size: 14px;
      max-width: max-content;
      width: 100%;
    }
  }

  &__el{
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;  
    z-index: 1;
  }

  // =====================================================
  // =====================dropdown========================
  // =====================================================

  .dropdown{
    margin-bottom: 30px;

    &__btn{
      background: none;
      border: none;
      color: #fff;
      font-size: 18px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      text-align: left;

      @include media($sm){
        font-size: 14px;
        max-width: max-content;
        width: 100%;
      }

      svg{
        width: 20px;
        height: 20px;
        transition: 200ms ease-in-out;

        @include media($sm){
          width: 15px;
          height: 15px;
        }

        &:first-child{
          margin-right: 12px;
        }

        &:last-child{
          margin-left: 12px;
          width: 15px;
          height: 15px;
        }
      }
    }

    &__p{
      padding: 5px 0;

      @include media($sm){
        font-size: 14px;
        text-align-last: left;
      }
    }

    &.show{
      & .dropdown__btn svg:last-child{
        transform: rotate(90deg);
      }

      .dropdown__content{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
      }
    }

    &__content{
      display: none;
    }
  }
}

// =====================================================
// =====================profile=========================
// =====================================================

.profile{

  &__header{
    width: calc(100% - 80px);
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    padding: 0 25px;
    height: 65px;
    border-bottom: 1px solid #125362;

    &__row{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__link{
      display: flex;
      justify-content: flex-start;
      align-items: center;

      svg{
        margin-right: 8px;
      }
    }
  }

  &__content{
    margin: 15px auto 0 0px;
    width: 100%;

    &__subtitle{
      margin: 15px auto 0 15px;
      font-size: 18px;
      width: max-content;
    }

    &__title{
      margin: 15px auto 0 15px;
      max-width: max-content;

      @include media(400){
        font-size: 18px;
      }
    }
  }

  &__row{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 60px;
    width: 100%;

    @include media($lg){
      flex-direction: column;
      align-items: center;
    }
  }

  &__col{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 50px;

    @include media($lg){
      margin-bottom: 50px;
      align-items: center;
    }

    &__title{
      margin: 0 auto 25px 0;
      width: max-content;
    }

    &__p{
      margin-bottom: 10px;

      &__blue{
        margin-bottom: 30px;
        color: #00E2FF;
      }
    }

    &__btn{
      min-width: 200px;
      width: 100%;
      border: 1px solid #00E2FF;
      box-sizing: border-box;
      border-radius: 2.5px;
      font-size: 16px;
      padding: 12px 0;
      margin-bottom: 30px;
    }

    &__img{
      margin-bottom: 20px;
    }

    &__row{
      display: flex;
      justify-content: center;
      align-items: center;

      svg{
        margin-right: 8px;
      }
    }
  }

  &__category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;

    &__link{
      margin: 5px;

      @include media($md){
        font-size: 14px;
        margin: 2px;
      }

      svg{
        margin-right: 5px;

        @include media($md){
          margin: 2px;
        }
      }
    }
  }

  &__item{
    border: 1px solid #00E2FF;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    position: relative;
    margin: 0 25px;
    padding: 20px;

    @include media($lg){
      margin: 25px;
    }

    &__abs{
      position: absolute;
      background: #00FF19;
      border-radius: 9px 0px;
      color: #313131;
      font-size: 16px;
      padding: 2px 5px;
      top: 0;
      left: 0;
    }

    &__img{
      height: 84px;
    }

    &__subp{
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      color: #BDBDBD;
      margin-bottom: 20px;
    }

    &__btn{
      margin-top: 20px;
      padding: 8px 20px;
      background: linear-gradient(95.85deg, #00E2FF 11.33%, #126E83 107.64%);
      border-radius: 3px;
      transition: 300ms ease;

      &:hover{
        box-shadow: 0 0 70px -10px #00E2FF;
      }
    }
  }

  .swiper-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    min-width: 100px;
    width: 70%;
    min-height: 100%;
    height: 100%;
    max-width: 320px;
    background-color: #2c8dfb;
    color: #fff;
  }

  .content {
    width: 100%;
    background: #132C33;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu-button {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #115362;
  }

  .menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
  }

  .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
  }

  .bar {
    position: relative;
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s;
  }

  .cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }

  .cross .bar:nth-of-type(2) {
    opacity: 0;
  }

  .cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }
}

// =====================================================
// ======================deposit========================
// =====================================================

.deposit{

  &__row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include media($sm){
      flex-direction: column;
      align-items: center;
    }
  }

  &__input{
    margin-bottom: 8px;
    border: 1px solid #00E2FF;
    box-sizing: border-box;
    border-radius: 3px;
    background: none;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    &::placeholder{
      color: #fff;
    }
  }

  &__light-p{
    font-weight: 200;
    font-size: 11px;
    line-height: 16px;
    color: #E0E0E0;
  }

  &__btn{
    margin-bottom: 25px;
    background: linear-gradient(95.85deg, #00E2FF 11.33%, #126E83 107.64%);
    border-radius: 7px;
    border: none;
    color: #fff;
    padding: 15px 50px;
    margin-top: 28px;
    cursor: pointer;
    font-family: inherit;
  }

  &__child{
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include media($sm){
      flex-direction: column;
    }

    &-p{
      font-size: 14px;
    }

    &-mon{
      font-size: 16px;
      color: #00E2FF;
      margin-bottom: 10px;
    }
  }

  &__items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;

    @include media($sm){
      margin-bottom: 25px;
    }
  }

  &__item{
    border: 1px solid #00E2FF;
    box-sizing: border-box;
    border-radius: 8px;
    max-width: 250px;
    width: 100%;
    margin-top: 25px;
    padding: 20px;

    &__p{
      max-width: max-content;
      margin-bottom: 8px;
    }

    &__subp{
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: #FFFFFF;
      max-width: max-content;
    }
  }

  &__content{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin: 0 auto 0 auto;

    &__top{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &__p{
    margin-bottom: 20px;
  }

  &__mon{
    margin-bottom: 30px;
    font-size: 36px;
    color: #00E2FF;
  }
}

// =====================================================
// ======================history========================
// =====================================================

.history{

  &__row{
    display: flex;
    width: 100%;

    @include media($md){
      flex-wrap: wrap;
    }      
  }

  &__item{
    width: 50%;

    @include media($md){
      width: 100%;
      margin-bottom: 40px;
    }        
  }

  &__title{
    max-width: max-content;
    margin-left: 15px;
    margin-bottom: 10px;
  }

  &__p{
    max-width: 100%;
    width: 100%;
    text-align-last: left;
    margin-left: 30px;

    @include media(380){
      font-size: 14px;
    }

    .light{
      font-weight: 200;
    }
    .blue{
      color: #00E2FF;
    }
  }
}

// =====================================================
// ========================stat=========================
// =====================================================

.stat{

  &__title{
    font-size: 18px;  
    margin-top: 20px;
  }

  &__blue{
    color: #00E2FF;
    font-size: 24px;
    margin: 20px 0;
  }

  &__row{
    display: flex;
    width: 100%;
    margin-top: 20px;

    @include media($lg){
      flex-wrap: wrap;
    }
  }

  &__item{
    width: 50%;

    @include media($lg){
      width: 100%;
    }
  }

  &__p-light{
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    max-width: 300px;
    margin: 0 auto;
    color: #E0E0E0;
  }

  &__btns{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  &__btn{
    font-weight: 300;
    padding: 8px 20px;
    margin: 10px auto;
    border: 1px solid #00E2FF;
    box-sizing: border-box;
    border-radius: 2.5px;
    max-width: 200px;
    width: 100%;
  }

  &__desc{
    margin-top: 40px;

    &__item{
      display: flex;
      align-items: start;
      justify-content: space-between;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;

      @include media($sm){
        padding: 0 15px;
      }
    }

    &__p{
      font-size: 16px;
      text-align: left;

      &.blue{
        color: #00E2FF;
      }

      span{
        color: #BDBDBD;
        font-weight: 200;
      }
    }
  }
}