doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profile
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="styles/index.css")
  body 
    .profile
      .swiper-container
        .swiper-wrapper
          .swiper-slide.menu 
            include components/sidebar.pug
            +sidebar 
          .swiper-slide.content
            .menu-button
              .bar
              .bar
              .bar
            .profile__header
              include components/header.pug
              +header
            .profile__content
              .profile__category  
                a(href="index.html").profile__category__link Главная
                svg(width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M9.35355 4.80808C9.54882 4.61282 9.54882 4.29624 9.35355 4.10098L6.17157 0.918995C5.97631 0.723733 5.65973 0.723733 5.46447 0.918995C5.2692 1.11426 5.2692 1.43084 5.46447 1.6261L8.29289 4.45453L5.46447 7.28296C5.2692 7.47822 5.2692 7.7948 5.46447 7.99006C5.65973 8.18532 5.97631 8.18532 6.17157 7.99006L9.35355 4.80808ZM0 4.95453H9V3.95453H0V4.95453Z" fill="#E0E0E0")
                a(href="#!").profile__category__link Личный кабинет
                svg(width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M9.35355 4.80808C9.54882 4.61282 9.54882 4.29624 9.35355 4.10098L6.17157 0.918995C5.97631 0.723733 5.65973 0.723733 5.46447 0.918995C5.2692 1.11426 5.2692 1.43084 5.46447 1.6261L8.29289 4.45453L5.46447 7.28296C5.2692 7.47822 5.2692 7.7948 5.46447 7.99006C5.65973 8.18532 5.97631 8.18532 6.17157 7.99006L9.35355 4.80808ZM0 4.95453H9V3.95453H0V4.95453Z" fill="#E0E0E0")
                a(href="#!").profile__category__link Создать депозит
              h1.title.profile__content__title Выбор тарифных планов
              h1.title.profile__content__subtitle Выберите тарифный план
              .deposit__row
                .deposit__items
                  .deposit__item
                    input(type="radio", name="f" checked).deposit__item__chk
                    span.deposit__item__chk__span
                    .deposit__item__chk__in
                      p.deposit__item__p Вклад «на 24 часа»
                      p.deposit__item__subp 1.3% ставка в день
                      p.deposit__item__subp Возврат депозита через 24 часа
                  .deposit__item
                    input(type="radio", name="f").deposit__item__chk
                    span.deposit__item__chk__span
                    .deposit__item__chk__in
                      p.deposit__item__p Вклад «на 7 дней»
                      p.deposit__item__subp 1.3% ставка в день
                      p.deposit__item__subp Капитализация: да
                      p.deposit__item__subp Бонус в конце депозита: + 0.37%
                  .deposit__item
                    input(type="radio", name="f").deposit__item__chk
                    span.deposit__item__chk__span
                    .deposit__item__chk__in
                      p.deposit__item__p Вклад «на 14 дней»
                      p.deposit__item__subp 1.3% ставка в день
                      p.deposit__item__subp Капитализация: да 
                      p.deposit__item__subp Бонус в конце депозита: + 0.86%
                  .deposit__item
                    input(type="radio", name="f").deposit__item__chk
                    span.deposit__item__chk__span
                    .deposit__item__chk__in
                      p.deposit__item__p Вклад «на 28 дней»
                      p.deposit__item__subp 1.3% ставка в день
                      p.deposit__item__subp Капитализация: да
                      p.deposit__item__subp Бонус в конце депозита: + 1.79%
                .deposit__content 
                  .deposit__content__top 
                    p.deposit__p Тариф «На 24 часа»
                    p.deposit__p Доходность: 1.3% в день
                  p.deposit__p Доступные средства
                  p.deposit__mon 0.00 грн
                  p.deposit__p Введите сумму депозита:
                  form(action="").deposit__form
                    input(type="text" placeholder="грн").deposit__input
                    p.deposit__light-p Вы можете вложить от 100 грн до 10 000 000 грн
                    a(href="#depositsuccess").deposit__btn Создать депозит
                  p.deposit__p Персональная информация по депозиту 
                    .deposit__child
                      .deposit__child-col
                        p.deposit__child-p Начисленная прибыль
                        p.deposit__child-mon + 0.00 грн
                        p.deposit__child-p Сумма на выходе
                        p.deposit__child-mon 0.00 грн
                        p.deposit__child-p Дата окончания депозита
                        p.deposit__child-mon ~ 08.05.2021 16:59 КИЕВ~ 08.05.2021 16:59 КИЕВ
                      .deposit__child-col
                        p.deposit__child-p Ставка:
                        p.deposit__child-mon 1.3% в день
                        p.deposit__child-p Бонус:
                        p.deposit__child-mon Нет
                        p.deposit__child-p Капитализация процентов:
                        p.deposit__child-mon Нет
                        p.deposit__child-p Ограничение по количеству активных инвестиций:
                        p.deposit__child-mon Ограничения отсутствуют
        #depositsuccess.popup
          .popup__body.nonbg
            svg(width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M44.1406 50H5.85938C2.62833 50 0 47.3717 0 44.1406V5.85938C0 2.62833 2.62833 0 5.85938 0H44.1406C47.3717 0 50 2.62833 50 5.85938V44.1406C50 47.3717 47.3717 50 44.1406 50ZM5.85938 3.90625C4.78249 3.90625 3.90625 4.78249 3.90625 5.85938V44.1406C3.90625 45.2175 4.78249 46.0938 5.85938 46.0938H44.1406C45.2175 46.0938 46.0938 45.2175 46.0938 44.1406V5.85938C46.0938 4.78249 45.2175 3.90625 44.1406 3.90625H5.85938ZM42.0799 14.7797L39.1697 12.1735L21.1067 32.346L10.6232 22.3804L7.9319 25.2113L21.3322 37.9501L42.0799 14.7797Z' fill='#00E2FF')
            h3.popup__title Депозит успешно создан!
            a(href="#closepopup").popup__btn.max-300 Возврат к моим депозитам
          a(href="#closepopup").popup__close
        #depositerror.popup
          .popup__body.nonbg
            svg(width='50' height='50' viewbox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M44.1406 50H5.85938C2.62833 50 0 47.3717 0 44.1406V5.85938C0 2.62833 2.62833 0 5.85938 0H44.1406C47.3717 0 50 2.62833 50 5.85938V44.1406C50 47.3717 47.3717 50 44.1406 50ZM5.85938 3.90625C4.78249 3.90625 3.90625 4.78249 3.90625 5.85938V44.1406C3.90625 45.2175 4.78249 46.0938 5.85938 46.0938H44.1406C45.2175 46.0938 46.0938 45.2175 46.0938 44.1406V5.85938C46.0938 4.78249 45.2175 3.90625 44.1406 3.90625H5.85938Z' fill='#FF0000')
              path(d='M27.6433 25.0007L36.6166 16.027C36.8634 15.78 36.9996 15.4504 37 15.099C37 14.7474 36.8638 14.4175 36.6166 14.1708L35.8302 13.3847C35.583 13.1371 35.2535 13.0015 34.9017 13.0015C34.5504 13.0015 34.2209 13.1371 33.9737 13.3847L25.0004 22.3578L16.0267 13.3847C15.7799 13.1371 15.4501 13.0015 15.0985 13.0015C14.7473 13.0015 14.4176 13.1371 14.1707 13.3847L13.384 14.1708C12.872 14.6828 12.872 15.5156 13.384 16.027L22.3575 25.0007L13.384 33.974C13.137 34.2214 13.001 34.5509 13.001 34.9023C13.001 35.2538 13.137 35.5833 13.384 35.8305L14.1705 36.6167C14.4174 36.8641 14.7473 36.9999 15.0983 36.9999C15.45 36.9999 15.7797 36.8641 16.0265 36.6167L25.0002 27.6434L33.9735 36.6167C34.2207 36.8641 34.5502 36.9999 34.9015 36.9999H34.9019C35.2533 36.9999 35.5828 36.8641 35.83 36.6167L36.6164 35.8305C36.8632 35.5835 36.9994 35.2538 36.9994 34.9023C36.9994 34.5509 36.8632 34.2214 36.6164 33.9741L27.6433 25.0007Z' fill='#FF0000')
            h3.popup__title Ошибка создания депозита!
            .popup__error 
              .popup__error-top
                h3.popup__subtitle Причина ошибки
              .popup__error-body
            a(href="#closepopup").popup__btn.max-300.error__btn Вернуться к созданию депозитов
          a(href="#closepopup").popup__close

      #closepopup 
        
    
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="scripts/profile.js")
    script(src="scripts/drop.js")