doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profile
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="styles/index.css")
  body 
    .profile
      .swiper-container
        .swiper-wrapper
          .swiper-slide.menu 
            include components/sidebar.pug
            +sidebar 
          .swiper-slide.content
            .menu-button
              .bar
              .bar
              .bar
            .profile__header
              include components/header.pug
              +header
            .profile__content
              .profile__category  
                a(href="index.html").profile__category__link Главная
                svg(width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M9.35355 4.80808C9.54882 4.61282 9.54882 4.29624 9.35355 4.10098L6.17157 0.918995C5.97631 0.723733 5.65973 0.723733 5.46447 0.918995C5.2692 1.11426 5.2692 1.43084 5.46447 1.6261L8.29289 4.45453L5.46447 7.28296C5.2692 7.47822 5.2692 7.7948 5.46447 7.99006C5.65973 8.18532 5.97631 8.18532 6.17157 7.99006L9.35355 4.80808ZM0 4.95453H9V3.95453H0V4.95453Z" fill="#E0E0E0")
                a(href="#!").profile__category__link Личный кабинет
                svg(width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M9.35355 4.80808C9.54882 4.61282 9.54882 4.29624 9.35355 4.10098L6.17157 0.918995C5.97631 0.723733 5.65973 0.723733 5.46447 0.918995C5.2692 1.11426 5.2692 1.43084 5.46447 1.6261L8.29289 4.45453L5.46447 7.28296C5.2692 7.47822 5.2692 7.7948 5.46447 7.99006C5.65973 8.18532 5.97631 8.18532 6.17157 7.99006L9.35355 4.80808ZM0 4.95453H9V3.95453H0V4.95453Z" fill="#E0E0E0")
                a(href="#!").profile__category__link Личная информация
              h1.title.profile__content__title Личная информация
              .profile__row
                .profile__col
                  p.profile__col__title ID999999
                  img(src="images/profile-big.webp", alt="").profile__col__img
                  .profile__col__row 
                    svg(width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M25.0436 2.80806H17.8933L16.4495 0.382454C16.3082 0.145299 16.0527 0 15.7767 0H11.2356C10.9596 0 10.704 0.145299 10.5628 0.382454L9.11896 2.80806H6.77263V2.27345C6.77263 1.84107 6.42209 1.49053 5.98971 1.49053H3.09277C2.6603 1.49053 2.30985 1.84107 2.30985 2.27345V2.80806H1.96879C0.881377 2.80806 0 3.68953 0 4.77677V19.0312C0 20.1185 0.881377 21 1.9687 21H25.0436C26.1309 21 27.0124 20.1185 27.0124 19.0312V4.77677C27.0125 3.68953 26.1309 2.80806 25.0436 2.80806ZM13.5062 17.5079C10.4112 17.5079 7.90224 14.999 7.90224 11.9039C7.90224 8.80902 10.4112 6.29999 13.5062 6.29999C16.6011 6.29999 19.1101 8.80902 19.1101 11.9039C19.1101 14.999 16.6011 17.5079 13.5062 17.5079ZM23.8153 6.86695H21.362C20.9296 6.86695 20.5791 6.5164 20.5791 6.08393C20.5791 5.65146 20.9296 5.30092 21.362 5.30092H23.8153C24.2478 5.30092 24.5983 5.65146 24.5983 6.08393C24.5983 6.5164 24.2477 6.86695 23.8153 6.86695Z" fill="white")
                      path(d="M13.5062 15.8188C15.6684 15.8188 17.4211 14.0661 17.4211 11.9039C17.4211 9.74178 15.6684 7.98901 13.5062 7.98901C11.3441 7.98901 9.59131 9.74178 9.59131 11.9039C9.59131 14.0661 11.3441 15.8188 13.5062 15.8188Z" fill="white")
                    p Изменить фото профиля
                .profile__col
                  p.profile__col__p Имя
                  p.profile__col__p__blue Олег
                  p.profile__col__p Телефон
                  p.profile__col__p__blue 099 999 99 99
                  p.profile__col__p Логин
                  p.profile__col__p__blue olegsmrn123
                  a(href="#editprofile").profile__col__btn Редактировать данные
                  a(href="#deleteprofile").profile__col__btn Удалить аккаунт
                .profile__col
                  p.profile__col__p Фамилия
                  p.profile__col__p__blue Смирнов
                  p.profile__col__p E-mail
                  p.profile__col__p__blue oleg222@gmail.com
                  p.profile__col__p Пароль
                  p.profile__col__p__blue **********
                  a(href="#editpassword").profile__col__btn Изменить пароль
                  a(href="#!").profile__col__btn Выйти из аккаунта
      #editpassword.popup 
        .popup__body 
          h2.popup__title Изменить пароль
          form.popup__form(action="#closepopup")
            label(for="#oldpassword").popup__label Старый пароль
            input(type="text" id="oldpassword").popup__input  
            label(for="#newpassword").popup__label Новый пароль
            input(type="text" id="newpassword").popup__input  
            label(for="#repeatpassword").popup__label Повторить новый пароль
            input(type="text" id="repeatpassword").popup__input  
            button(type="submit").popup__btn Сохранить изменения
        a(href="#closepopup").popup__close
      #editprofile.popup 
        .popup__body 
          h2.popup__title Изменить пароль
          form.popup__form(action="#closepopup")
            label(for="#oldpassword").popup__label Имя: Олег
            input(type="text" id="oldpassword" placeholder="Введите новое имя").popup__input  
            label(for="#newpassword").popup__label Фамилия: Смирнов
            input(type="text" id="newpassword" placeholder="Введите новую фамилию").popup__input  
            label(for="#repeatpassword").popup__label Телефон: 099 999 99 99
            input(type="text" id="repeatpassword" placeholder="Введите новый телефон").popup__input  
            label(for="#repeatpassword").popup__label E-mail: oleg222@gmail.com
            input(type="text" id="repeatpassword" placeholder="Введите новый e-mail").popup__input  
            button(type="submit").popup__btn Сохранить изменения
        a(href="#closepopup").popup__close
      #deleteprofile.popup 
        .popup__body.nonbg
          h2.popup__title Вы желаете удалить профиль?
          p.popup__p После удаление учетной записи все ваши депозиты будут уничтожены и средства будут зачислены в систему без возврата
          h2.popup__subtitle Вы подтверждаете удаление?
          form.popup__btns(action="#closepopup")
            button(type="submit").popup__btn.uncurrent Да            
            button(type="submit").popup__btn Нет            
        a(href="#closepopup").popup__close

      #closepopup 


                  

    
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="scripts/profile.js")
    script(src="scripts/drop.js")